.App {
}

header {
  width: 100vw;
  background: black;
  color: white;
  margin: 0px;
}

header h1 {
  margin: 0px;
  padding: 16px;
}
main {
  padding: 0px 24px;
  margin-bottom: 48px;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  margin: 8px;
}

.btn.bg {
  width: 100%;
  font-size: 1.2rem;
}
.card {
  border: 1px solid #e8e8e8;
  box-shadow: 0px 2px 4px #e8e8e8;
  margin: 16px 0px;
  padding: 16px;
}

/*.btn:hover {
  background-color: white;
  color: black;
}*/

/*BotMapIntro*/
.bot-map-intro {
}
.intro-img-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#user-bot,
#user-map {
  max-width: 100%;
  max-height: 35vh;
}
#user-bot {
  width: 100px;
}

.quote-eval {
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .bot-map-intro {
    width: 40%;
    margin: 0px;
    float: left;
  }
  .quote-info-wrapper {
    width: 50%;
    float: right;
  }
  .quote-commands h2 {
    text-align: center;
  }

  .quote-commands-wrapper {
    display: flex;
    justify-content: center;
  }

  .btn.bg {
    width: 40%;
  }
}
